@import "global.scss";

.profile-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-image{
    width: 50%;
    height: 50%;
}

.profile-image input{
    @extend %disappear-input
}